[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Matthew Dierker
	email = mvd7793@gmail.com
[push]
	default = simple